<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--第一种，下标赋值-->
    <!--<bean id="user" class="com.lzx.pojo.User">
        <constructor-arg index="0" value="吕智翔说java"></constructor-arg>
    </bean>-->

    <!--第二种方式，通过类型注入-->
    <!--<bean id="user" class="com.lzx.pojo.User">
        <constructor-arg type="java.lang.String" value="lzx"></constructor-arg>
    </bean>-->

    <!--直接通过参数名来设置-->
    <bean id="user" class="com.lzx.pojo.User">
        <constructor-arg name="name" value="llllllllllll"></constructor-arg>
    </bean>

    <bean id="userT" class="com.lzx.pojo.UserT">

    </bean>


</beans>